@import url(global.css);
@import url(pills.css);
@import url(navegation.css);
@import url(backgrounds.css);
@import url(link-button.css);
@import url(gallery.css);

body {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

#navbar {
    width: 100px;
    min-width: 99px;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
    width: 100%;
    padding-left: 130px;
}

#principal > img {
    width: 450px;
    padding: 3rem 0;
}

article {
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#principal > section > a {
    text-decoration: none;
    color: rgb(253, 36, 36);
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
}