.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.icon-content {
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon {
    width: 0;
    height: 0;
    border-bottom: solid 5px transparent;
    border-top: solid 5px transparent;
    border-right: solid 5px transparent;
    border-left: solid 5px white;
    margin-left: 5px;
}

.label {
    text-transform: capitalize;
}